@use '../../styles/variables' as v;

.container {
    display: flex;
    flex-flow: column;
    align-items: left;

    h2 {
        font-size: v.$size-8
    }

    .button {
        margin: 50px 0;
        text-align: center;
        a {
            border: 1px solid v.$dark-color;
            border-radius: 10px;
            padding: 20px;
            text-decoration: none;
            font-style: normal;

            &:hover {
                box-shadow: 10px 15px;
                color: v.$dark-color;
                transition: all 0.3s ease-out;
            }
        }
    }
}