@use '../../styles/variables' as v;

.control {
    flex: 1;
    min-width: 10rem;
    label {
        display: block;
        font-weight: bold;
        margin: 0 0 10px 0;
    };
    
    input,
    textarea {
    border-radius: 4px;
    padding: 10px 5px;
    width: 100%;
    border: 1px solid v.$dark-color;
    background-color: v.$light-color;
    resize: none;
    margin: 0 0 20px 0;
    } 
}

 