@use "/styles/variables" as v;

.footer {
  height: 7rem;
  background-color: v.$light-color;
}

.inner {
  width: 95%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .logos {
    display: flex;
    gap: 10px;

    a {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .inner {
    width: 60%;
    max-width: 968px;
  }
}
