@use '../../styles/variables' as v;

.footer {
    background-color: v.$light-color;
    height: 5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px 50px 0;

    .logos {
        display: flex;
        
        // gap: 10px;
    }
}

@media (min-width: 768px) {
    .footer{
        padding: 20px 200px 0;

    }
  }