@use "/styles/variables" as v;

.footer {
  height: 7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px 0;
  background-color: v.$light-color;
  .logos {
    display: flex;
    gap: 10px;

    a {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 20px 200px 0;
  }
}
