@use '../../styles/variables' as v;

.header {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: v.$dark-color;
  justify-content:end;
  padding: 20px 50px;

  .index {
    display: none;
  }

  a {
    color: v.$light-blue;
    font-size: v.$size-4;
    text-decoration: none;
    font-style: normal;

    &:hover,
    &:active,
    &.active {
      color: v.$vlight-blue;

    }
  }

  nav {
    display: block;
    text-align: right;

    .navlinks {
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 0.25rem;
      display: none;
    }
  
    .navlinks_vertical {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 0.25rem;

      li {
        margin: 10px 0 0 0 ;
      }
  
    }
  

  
    
  }

}
  
@media (min-width: 768px) {
  .header {
    padding: 0px 200px;
    height: 6rem;
    justify-content: space-between;
    
    nav {
      .navlinks {
        gap: 1.5rem;
        align-items: baseline;
        display: flex;
      }
      .navlinks_vertical {
        display: none;
      }
    }

    .index {
      display: inline;
    }

    a {
      font-size: v.$size-5;
    }
  }
}