@use '../../styles/variables' as v;

.header {
  display: flex;
  width: 100%;
  height: 6rem;
  background-color: v.$dark-color;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

  ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
    gap: 0.25rem;
  }

  li {
    margin: 0 ;
  }

  a {
    color: v.$light-blue;
    font-size: v.$size-4;

    &:hover,
    &:active,
    &.active {
      color: v.$vlight-blue;

    }
  }
}
  
@media (min-width: 768px) {
  .header {
    padding: 0px 200px;
    ul {
      gap: 1.5rem;
    }
    a {
      font-size: v.$size-5;
    }
  }
}