@use '/styles/variables' as v;

.header {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 100%;
  align-items: flex-end;
  background-color: v.$dark-color;
  justify-content: flex-end;
  padding: 20px 20px;

  .index {
    display: none;
  }

  a {
    color: v.$light-color;
    font-size: v.$size-4;
    text-decoration: none;
    font-style: normal;

    &:hover,
    &:active,
    &.active {
      color: v.$vlight-color;

    }
  }

  .navlinks {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.25rem;
    display: none;
  }

  .mobile_navlinks {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.25rem;

    li {
      margin: 10px 0 0 0 ;
    }

  }
}
  
@media (min-width: 768px) {
  .header {
    padding: 0px 200px;
    height: 6rem;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    .index {
      display: block;
    }
    
    .navlinks {
      gap: 1.5rem;
      align-items: baseline;
      display: flex;
      justify-content: flex-end
    }
    .mobile_navlinks {
      display: none;
    }

    a {
      font-size: v.$size-5;
    }
  }
}