@use '../../styles/variables' as v;

.container {

    .header {
        display: flex;
        gap: 20px;
        align-items: end;
        margin: 0 0 10px 0;

        .name {
            font-weight: bold;
        }

        .date {
            color: v.$light-blue;
            font-size: v.$size-3
        }
    }

    .comment {
        overflow-wrap: break-word;

    }

    .divider {
        border-top: 3px solid #333;
        width: 50px;
        height: 1px;
        display: block;
        margin: 10px 0 20px 0;
    }
}

