@use '../../styles/variables' as v;

.date {
    text-align: right;
}

.content {
    margin: 0 0 50px 0;
    .title {
        font-size: 36px;
    }

    .date {
        display: block;
        text-align: right;
    }

    .end {
        border-top: 1px solid #333;
        width: 100%;
        height: 1px;
        display: block;
    }

    .articleFooter {
        font-style: italic;
    }

    figure {
        margin: 15px auto;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            object-fit: cover;
            object-position: middle;
            width: 100%;
            height: 100%;
        }
        figcaption {
            text-align: center;
        }

    }
    
    p {
        font-size: 16px;
    }

    h3 {
        font-size: 24px;
    }

    pre {
        display: block;
        padding: 30px;
        border-radius: 15px;
        color: v.$light-color;
        background: v.$dark-color;
        overflow: auto;
        font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    }
}