@use '/styles/variables' as v;


.box {
    display: flex;
    flex-flow: column;
    gap: 0 30px;
    margin: 0 0 30px 0;

    .header {
        display: grid;


        h3 {
            margin: 0;
            padding: 0;
        }
    }

    ul {
        padding: 0 0 0 15px;
    }
}

@media (min-width: 768px) {
    .box {
        flex-flow: row;

    }


}