$vdark-color: #0b0c10;
$dark-color: #1f2833;

$mid-color: #6a6f77;

$vlight-color: #e5e6e7;
$light-color: #c5c6c7;

$vlight-blue: #66fcf1;
$light-blue: #45a29e;

$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 0.75rem;
$size-4: 1rem;
$size-5: 1.25rem;
$size-6: 1.5rem;
$size-7: 1.75rem;
$size-8: 2rem;
$size-16: 4rem;
$size-20: 5rem;
$size-40: 10rem;
