@use './variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'sans-serif';
  color: v.$dark-color
}

body {
  background-color: v.$vlight-color;
  margin: 0;
}

main {
  margin: 0px 20px;
}

h1,
h2,
h3 {
  font-family: 'Oswald', 'Open Sans', 'sans-serif';
}

h1 {
  font-size: v.$size-8
}

h2 {
  font-size: v.$size-6
}

a {
  text-decoration: none;

  &:hover {
    color: v.$light-blue;
  }
}

button {
  font: inherit;
  cursor: pointer;
}

section {
  margin: 0 0 50px 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: v.$size-16
  }

  h2 {
    font-size: v.$size-8;
  }

  p {
    font-size: v.$size-5
  }

  main {
    margin: 0px 200px;
  }

  section {
    margin: 0 0 100px 0;
  }


}



