@use '/styles/variables' as v;

* {
  box-sizing: border-box;
  font-family: var(--font-open-sans), 'sans-serif';
  color: v.$dark-color
}

body {
  background-color: v.$vlight-color;
  margin: 0;
}

main {
  margin: 0px 20px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-oswald), 'sans-serif';
}

h1 {
  font-size: v.$size-8
}

h2 {
  font-size: v.$size-6
}

h3 {
  font-size: v.$size-5
}

h4 {
  font-size: v.$size-4;
  margin: 0;
}

a {
  text-decoration: underline;
  font-style: italic;

  &:hover {
    color: v.$light-blue;
  }
}

ul {
  li {
    line-height: 1.6;
  }
}

button {
  font: inherit;
  cursor: pointer;
}

section {
  margin: 0 0 50px 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: v.$size-16
  }

  h2 {
    font-size: v.$size-8;
  }

  p {
    font-size: v.$size-5
  }

  main {
    margin: 0px 200px;
  }

  section {
    margin: 0 0 100px 0;
  }


}



